{% extends "base.html.twig" %}
{% block body %}
    <!-- Page Content -->
    <section class="py-5">
        <div class="container">
            <h2 class="font-weight-light">Latest news COVID-19</h2>
            <div class="btn btn-outline-secondary btn-lg">

                <a href="https://www.rtl.lu" style="color:grey;">News</a>
            </div>
        </div>
    </section>
{% endblock %}